
<ion-content overflow-scroll="false" class="main-view">
  <!--<div *ngIf="!isLogin||!isIos" class="overlay" (click)="dismiss()"></div>-->
  <!--<div  class="overlay" (click)="dismiss()"></div>-->
  <div class="modal_content">

    <div class="login_content" *ngIf="isLogin">

      <div style="width: 100%;  text-align: center;">
        <h1 style="font-size: 50px;">Residence Center</h1>
        <p style="text-align: right;font-weight: bold; padding-right: 50px; ">for Developer</p>
      </div>

      <ion-list style="margin-left: 0;padding-top: 3px;">
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input [(ngModel)]="username" placeholder="{{ stringData.username }}" ></ion-input>
        </ion-item>
        <ion-item style="padding-left: 0;">
          <ion-input [(ngModel)]="password" placeholder="{{ stringData.password }}" type="password"></ion-input>
        </ion-item>
      </ion-list>
      <div id="content-footer" style="position: absolute; bottom: 15px;width: 93%;">
        <div style="clear: both; float: right;">
          <button ion-button  (click)="loginProgress()">{{ stringData.login }}</button>
        </div>
      </div>
    </div>

    <div class="add_user_content" *ngIf="isAddUser">
      <div style="width: 100%;  text-align: center;">
        <p style="text-align: center;font-weight: bold; ">{{ stringData.addUser }}</p>
      </div>

      <ion-list style="margin-left: 0;padding-top: 0px;">
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="firstname" [(ngModel)]="firstname" placeholder="{{ stringData.firstname }}" ></ion-input>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="lastname" [(ngModel)]="lastname" placeholder="{{ stringData.lastname }}" ></ion-input>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="username" [(ngModel)]="username" placeholder="{{ stringData.username }}" ></ion-input>
        </ion-item>
        <ion-item style="padding-left: 0;">
          <ion-input id="password" [(ngModel)]="password" placeholder="{{ stringData.password }}" type="password"></ion-input>
        </ion-item>
        <ion-item style="padding-left: 0;">
          <ion-input id="cfmpassword" [(ngModel)]="cfmpassword" placeholder="{{ stringData.cfmPassword }}" type="password"></ion-input>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="email" [(ngModel)]="email" placeholder="{{ stringData.email }}" type="email"></ion-input>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="phone"  [(ngModel)]="phone" placeholder="{{ stringData.phone }}" type="number"></ion-input>
        </ion-item>
      </ion-list>
      <div id="content-footer" style="position: absolute; bottom: 15px;width: 93%;">
        <div style="clear: both; float: right;">
          <a (click)="dismiss()">{{ stringData.confirmCancel }}</a>
          <button ion-button  (click)="addUserProgress()">{{ stringData.confirmOK }}</button>
        </div>
      </div>
    </div>

    <div class="edit_profile_user_content" *ngIf="isEditProfileUser">
      <p style="text-align: center;font-weight: bold; ">{{ stringData.editProfile }}</p>
      <ion-list style="margin-left: 0;padding-top: 3px;">
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="firstname" [(ngModel)]="firstname" placeholder="{{ stringData.firtname }}" ></ion-input>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="lastname" [(ngModel)]="lastname" placeholder="{{ stringData.lastname }}" ></ion-input>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="username" [(ngModel)]="username" placeholder="{{ stringData.username }}" ></ion-input>
        </ion-item>
        <ion-item style="padding-left: 0;">
          <ion-input id="password" [(ngModel)]="password" placeholder="{{ stringData.password }}" type="password"></ion-input>
        </ion-item>
        <ion-item style="padding-left: 0;">
          <ion-input id="cfmpassword" [(ngModel)]="cfmpassword" placeholder="{{ stringData.cfmPassword }}" type="password"></ion-input>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="email" [(ngModel)]="email" placeholder="{{ stringData.email }}" type="email"></ion-input>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="phone" [(ngModel)]="phone" placeholder="{{ stringData.phone }}" type="number"></ion-input>
        </ion-item>
      </ion-list>
      <div id="content-footer" style="position: absolute; bottom: 0;width: 93%;">
        <div style="clear: both; float: right;">
          <a (click)="dismiss()">{{ stringData.confirmCancel }}</a>
          <button ion-button  (click)="editProfileUserProgress()">{{ stringData.confirmOK }}</button>
        </div>
      </div>
    </div>

    <div class="create_message_content" *ngIf="isCreateMessage">
      <p style="text-align: center;font-weight: bold; ">{{ stringData.createMessage }}</p>
      <ion-list style="margin-left: 0;padding-top: 3px;">
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="title" [(ngModel)]="title" placeholder="{{ stringData.title }}" ></ion-input>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-textarea style="resize: both;" id="description" [(ngModel)]="description" placeholder="{{ stringData.description }}"></ion-textarea>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input style="width: 50%;" item-start disabled="true" id="date" [(ngModel)]="date" placeholder="{{ stringData.date }}" ></ion-input>
          <button item-end ion-button (click)="showDatePicker()">{{ stringData.selectDate }}</button>
        </ion-item>
      </ion-list>
      <div id="content-footer" style="position: absolute; bottom: 15px;width: 93%;">
        <div style="clear: both; float: right;">
          <a (click)="dismiss()">{{ stringData.confirmCancel }}</a>
          <button ion-button  (click)="messageProgress()">{{ stringData.create }}</button>
        </div>
      </div>
    </div>

    <div class="open_notice_content" *ngIf="isOpenNotice">
      <p style="text-align: center;font-weight: bold; ">{{ stringData.information }}</p>
      <ion-list style="margin-left: 0;padding-top: 3px;">
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input disabled="true" id="title" [(ngModel)]="title" placeholder="{{ stringData.title }}" ></ion-input>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-textarea style="resize: both;" disabled="true" id="description" [(ngModel)]="description" placeholder="{{ stringData.description }}"></ion-textarea>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input disabled="true" id="date" [(ngModel)]="date" placeholder="{{ stringData.date }}" ></ion-input>
        </ion-item>
      </ion-list>
      <div id="content-footer" style="position: absolute; bottom: 15px;width: 93%;">
        <div style="clear: both; float: right;">
          <button ion-button  (click)="dismiss()">{{ stringData.confirmOK }}</button>
        </div>
      </div>
    </div>

    <div class="edit_notice_content" *ngIf="isEditNotice">
      <p style="text-align: center;font-weight: bold; ">{{ stringData.editMessage }}</p>
      <ion-list style="margin-left: 0;padding-top: 3px;">
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input id="title" [(ngModel)]="title" placeholder="{{ stringData.title }}" ></ion-input>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-textarea style="resize: both;" id="description" [(ngModel)]="description" placeholder="{{ stringData.description }}"></ion-textarea>
        </ion-item>
        <ion-item style="border-top: none;padding-left: 0;">
          <ion-input style="width: 50%;" item-start disabled="true" id="date" [(ngModel)]="date" placeholder="{{ stringData.date }}" ></ion-input>
          <button item-end ion-button (click)="showDatePicker()">{{ stringData.selectDate }}</button>
        </ion-item>
      </ion-list>
      <div id="content-footer" style="position: absolute; bottom: 15px;width: 93%;">
        <div style="clear: both; float: right;">
          <a (click)="dismiss()">{{ stringData.confirmCancel }}</a>
          <button ion-button  (click)="messageProgress()">{{ stringData.confirmSave }}</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
