page-modal {
  .main-view{
    background: transparent;
    overflow: hidden;
  }
  .overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-color: #333;
  }
  @media screen and (orientation:portrait) {
    .modal_content {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      width: 90%;
      height: 57%;
      min-height: 400px;
      padding: 10px;
      z-index: 100;
      margin: 0 auto;
      padding: 10px;
      color: #333;
      background: #F9FAFB;
      background: -moz-linear-gradient(top, #fff 0%, #F9FAFB 100%);
      background: -webkit-linear-gradient(top, #fff 0%, #F9FAFB 100%);
      background: linear-gradient(to bottom, #fff 0%, #F9FAFB 100%);
      border-radius: 5px;
      box-shadow: 5px 5px 10px rgba(51, 51, 51, .35);
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      overflow: hidden;
    }

  }
  @media screen and (orientation:landscape)
  {
    .modal_content {
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      width: 75%;
      height: 450px;
      min-height: 90%;
      padding: 10px;
      z-index: 100;
      margin: 0 auto;
      padding: 10px;
      color: #333;
      background: #F9FAFB;
      background: -moz-linear-gradient(top, #fff 0%, #F9FAFB 100%);
      background: -webkit-linear-gradient(top, #fff 0%, #F9FAFB 100%);
      background: linear-gradient(to bottom, #fff 0%, #F9FAFB 100%);
      border-radius: 5px;
      box-shadow: 5px 5px 10px rgba(51, 51, 51, .35);
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      overflow: hidden;
    }
  }

  #username, #email, #password, #cfmpassword, #firstname, #lastname, #phone {
    font-size: 10px;
  }

  #username, #email, #password, #cfmpassword, #firstname, #lastname, #phone ::placeholder{
    font-size: 10px;
  }

  a {
    bottom: 0;
    color: #444444;
  }
}
