<ion-content class="blank-home">
  <ion-grid>
    <ion-row center>
      <ion-col><div style="text-align: center; font-size: 40px; color: #aaaaaa;">
        <div *ngIf="userSession">
          <ion-icon name="home" style="zoom:4.0;"></ion-icon>
          <h1>{{ stringData.userSelect }}</h1>
        </div>
        <div *ngIf="adminSession">
          <ion-icon name="md-list-box" style="zoom:4.0;"></ion-icon>
          <h1>{{ stringData.adminSelect }}</h1>
        </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
