<ion-header>
  <ion-navbar id="navbar" class="bar-positive"  align-title="center" color="primary">
    <div  (click)="openMenu()" id="residenceNavbarDiv" class="residence-side-left">
      <p  (click)="openMenu()"  id="residenceNavbar" class="residence-side-left-text" >{{ titleResidence }}</p>
      <!--<p  (click)="openMenu()" class="residence-side-left-text"  >Menu</p>-->
      <!--<a (click)="openMenu()"  id="residenceNavbar" class="residence-side-left-text" >Pananosic</a>-->
    </div>

    <ion-title style="z-index: -1;"  *ngIf="adminSession">{{ adminTitle }}</ion-title>
    <ion-title *ngIf="userSession">{{ userTitle }}</ion-title>
    <div class="residence-side-right">
      <ion-icon class="residence-side-right-text" name="md-person" (click)="presentUserPopOver($event)"></ion-icon>
    </div>
  </ion-navbar>
</ion-header>



<ion-split-pane class="main-content" >
  <ion-menu id="menu-left-bar" class="menu-left-bar" style="min-width: 40%;" [content]="content">
    <ion-content >
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div *ngIf="adminSession" style="width: 100%;" >
        <div style="display: inline-block;">
          <ion-icon color="primary" name="md-person-add" style="font-size: 40px;" (click)="addUser()"></ion-icon>
        </div>

        <div style="margin-left: 10px; display: inline-block; width: 80%;">
          <ion-searchbar
            [(ngModel)]="searchInput"
            [showCancelButton]="shouldShowCancel"
            [placeholder]="stringData.searchPlaceHolder"
            (ionInput)="onInput($event)"
            (ionCancel)="onCancel($event)">
          </ion-searchbar>
        </div>

      </div>

      <div *ngIf="userSession" style="width: 100%;">
        <ion-searchbar
          [(ngModel)]="searchInput"
          [showCancelButton]="shouldShowCancel"
          [placeholder]="stringData.searchPlaceHolder"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)">
        </ion-searchbar>
      </div>

      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <p style="font-size: 15px; vertical-align: middle;">{{p.title}}</p>
          <!--<ion-icon style="vertical-align: middle; float: right;" name="ios-arrow-forward-outline"></ion-icon>-->
          <p *ngIf="adminSession" style="vertical-align: middle; font-size: 10px; float: right; padding-right: 5px;">{{ stringData.updateAt }} : {{ p.updatedAt }}</p>
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content main ></ion-nav>
</ion-split-pane>
