// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.main-content {
  margin-top: 55px;
}

.residence-side-left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0px 1px;
  width: 30%;
  height: 100%;
  text-align: left;
  box-shadow: 5px 0px 10px #000;
  background-color: #021f54;
  z-index: 1;
}

.residence-side-left-text {
  color: white;
  position: absolute;
  font-size: 20px;
  top: -5px;
  left: 0;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  text-align: left;
  //vertical-align: middle;
}

.residence-side-right {
  position: absolute;
  top: 5px;
  right: 0;
  padding: 0 90px 1px;
  width: 20%;
  height: 100%;
  text-align: right;

}

.residence-side-right-text {
  color: white;
  position: absolute;
  font-size: 40px;
  top: 0;
  right: -20px;
  padding-right: 40px;
  width: 100%;
  height: 100%;
  text-align: right;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.contact-popover .popover-content{
  width: 225px;

}

.keyboard-open .tabs{
  display:none;
}
.keyboard-open .has-tabs{
  bottom:0;
}




