<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div padding>
    <ion-segment [(ngModel)]="features">
      <ion-segment-button value="houses">
        <ion-icon name="home" style="padding-right: 5px;"></ion-icon>{{ stringData.house }}
      </ion-segment-button>
      <ion-segment-button value="messages">
        <ion-icon name="md-text" style="padding-right: 5px;"></ion-icon>{{ stringData.message }}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="features">
    <div *ngSwitchCase="'houses'">
      <div class="searchbar-div">
        <ion-searchbar
          [(ngModel)]="searchInput"
          [showCancelButton]="shouldShowCancel"
          [placeholder]="stringData.searchPlaceHolder"
          (ionInput)="onInputHouse($event)"
          (ionCancel)="onCancel($event)">
        </ion-searchbar>
      </div>
      <ion-list >
        <ion-item *ngFor="let house of houses">
          <ion-label>
            <h2 style="display: inline-block; padding-right: 30px;">{{ stringData.houseNo }} : <strong>{{ house['house_no'] }}</strong></h2>
            <h2 style="display: inline-block;">{{ stringData.username }} : <strong>{{ house.account.username }}</strong></h2>
          </ion-label>

          <ion-toggle  item-end checked="false" [(ngModel)]="house.isEnable" cancelable (ionChange)="changeEnableHouse($event, houses.indexOf(house))"></ion-toggle>
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'messages'">
      <ion-toolbar class="message-bar">
        <div class="searchbar-div">
          <ion-searchbar
            [(ngModel)]="searchInput"
            [showCancelButton]="shouldShowCancel"
            [placeholder]="stringData.searchPlaceHolder"
            (ionInput)="onInputMessage($event)"
            (ionCancel)="onCancel($event)">
          </ion-searchbar>
        </div>
        <div>
          <button ion-button full color="primary" (click)="openCreateMessage()">{{ stringData.createMessage }}</button>
        </div>
      </ion-toolbar>
      <ion-list *ngFor="let message of messages">
        <div *ngIf="!message.isSent">
          <ion-item-sliding #item >
            <ion-item (click)="openNotice(message)">
              <div style="display: inline-block;">
                <h2>{{ message.topic }}</h2>
                <p>{{ showDescription(message.message) }}</p>
              </div>

              <div style="padding-top: 12px; float: right; display: inline-block;">
                <div style="display: inline-block;text-align: center; vertical-align: middle;">
                  <p style="font-size: 10px;">{{ millisecondsToDate(message.sendDate,'withTime') }}</p>
                </div>
                <ion-icon style="display: inline-block;vertical-align: middle;" color="warning" name="md-alarm"></ion-icon>
              </div>
            </ion-item>
            <ion-item-options side="right">
              <button style="width: 25vw;" ion-button (click)="deleteNotice(message)" color="danger"><ion-icon name="md-trash"></ion-icon>{{ stringData.delete }}</button>
            </ion-item-options>
            <ion-item-options side="left">
              <button style="width: 25vw;" ion-button (click)="editNotice(message)" color="warning"><ion-icon name="ios-create"></ion-icon>{{ stringData.modify }}</button>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-list>
      <ion-list *ngFor="let message of messages">
        <div *ngIf="message.isSent">
          <ion-item (click)="openNotice(message)">
            <div style="vertical-align: middle; display: inline-block;">
              <h2>{{ message.topic }}</h2>
              <p>{{ showDescription(message.message) }}</p>
            </div>

            <div style=" float: right; display: inline-block;">
              <div style="display: inline-block;text-align: center; vertical-align: middle;">
                <p style="font-size: 10px;">{{ stringData.hasSent }}</p>
                <p style="font-size: 10px;">{{ millisecondsToDate(message.sendDate,'withTime') }}</p>
              </div>
              <ion-icon color="success" style="display: inline-block; vertical-align: middle;" name="md-checkmark-circle"></ion-icon>
            </div>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
