<ion-toolbar class="user-info" style="height: 150px;">
  <div style="height: 100%; display: inline-block;">
    <p id="user-full-name">{{ this.user.firstName }} {{ this.user.lastName }}</p>
  </div>
  <div style="position: absolute; display: inline-block; top: 10px; right: 10px;">
    <p id="user-email">{{ stringData.email }} : {{ this.user.email }}</p>
    <p id="user-phone">{{ stringData.phone }} : {{ this.user.phone }}</p>
  </div>
  <div style="padding-top: 35px;">
    <button ion-button full color="primary" (click)="openEditProfile()">{{ stringData.editProfile }}</button>
  </div>
</ion-toolbar>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="residence-list-div">
    <ion-list>
      <ion-item *ngFor="let residence of residences">
        <ion-label>
          {{residence.name}}
        </ion-label>
        <ion-toggle  item-end checked="{{residence.permission}}" [(ngModel)]="residence.permission" cancelable (ionChange)="changePermission($event, residences.indexOf(residence))"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
