page-admin {
  .user-info {
    position: relative;
    min-height: 150px !important;
    max-height: 150px  !important;
    padding-top: 80px;
    box-shadow: 5px 0px 5px #000;
  }

  #user-full-name {
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    font-size: 30px;
    vertical-align: middle;
  }

  .residence-list-div {
    position: absolute;
    top: 150px;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

}
